[Unit]
Description=Arch Linux updates
OnFailure=notify-send@%i.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
CacheDirectory=checkupdates
ExecStart=/bin/sh -c "checkupdates | tee %h/.cache/checkupdates/arch"
ExecStart=/bin/sh -c "yay -Qum --builddir=/tmp | tee %h/.cache/checkupdates/aur"
ExecStartPost=-/usr/bin/polybar-msg hook checkupdates 1
SuccessExitStatus=SUCCESS 2
