[Unit]
Description=Arch Linux updates
OnFailure=notify-send@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/checkupdates
ExecStartPost=-/usr/bin/polybar-msg hook checkupdates 1
SuccessExitStatus=SUCCESS 2
