[Unit]
Description=Arch Linux updates

[Service]
Type=oneshot
ExecStart=/usr/bin/checkupdates
ExecStartPost=-/usr/bin/polybar-msg hook checkupdates 1
SuccessExitStatus=SUCCESS 2
