[Unit]
Description=Check email
OnFailure=notify-send@%N.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env python %h/.local/bin/checkmail
ExecStartPost=-/usr/bin/env polybar-msg hook mail 1
