[Unit]
Description=Update ConTeXt standalone
OnFailure=notify-send@%i.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/context
ExecStart=/usr/bin/rsync -ptv rsync://contextgarden.net/minimals/setup/first-setup.sh .
ExecStart=/bin/bash first-setup.sh --context=beta --engine=luatex --modules=all --fonts=all
