[Unit]
Description=Update ConTeXt LMTX
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/context-lmtx
ExecStart=/usr/bin/curl -LO http://lmtx.pragma-ade.nl/install-lmtx/context-linux-64.zip
ExecStart=/usr/bin/unzip -o context-linux-64.zip -d /opt/context-lmtx
ExecStart=/bin/bash install.sh
