[Unit]
Description=Update ConTeXt LMTX
OnFailure=notify-send@%i.service
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=oneshot
WorkingDirectory=/opt/context-lmtx
ExecStart=/usr/bin/curl -LO http://lmtx.pragma-ade.nl/install-lmtx/context-linux-64.zip
ExecStart=/usr/bin/unzip -o context-linux-64.zip -d /opt/context-lmtx
ExecStart=/bin/bash install.sh
