[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=notify
Environment="PATH=/run/wrappers/bin:%h/.nix-profile/bin:/run/current-system/sw/bin:/usr/bin:/bin"
ExecStart=/usr/bin/env emacs --fg-daemon
ExecStop=/usr/bin/env emacsclient --eval "(kill-emacs)"
# The location of the SSH auth socket varies by distribution, and some
# set it from PAM, so don't override by default.
# Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target
