[Unit]
Description=Update news feeds
OnFailure=notify-send@%i.service
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/newsboat -x reload
ExecStartPost=-/usr/bin/polybar-msg hook newsboat 1
