[Unit]
Description=Update news feeds
OnFailure=notify-send@%i.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env newsboat -x reload
ExecStartPost=-/usr/bin/env polybar-msg hook newsboat 1
