[Unit]
Description=Update nix-direnv projects

[Timer]
OnStartupSec=25min
OnUnitActiveSec=1d
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
