[Unit]
Description=Update nix-direnv projects
OnFailure=notify-send@%N.service
Wants=network-online.target
After=network-online.target
ConditionACPower=true
ConditionPathIsDirectory=%h/.cache/direnv/layouts

[Service]
Type=oneshot
WorkingDirectory=%h/.cache/direnv/layouts
ExecStart=/bin/sh -c 'direnv prune'
ExecStart=/bin/sh -c 'for layout in *; do (cd "$(systemd-escape -pu "$layout")" && eval "$(direnv export bash)"); done'
