[Unit]
Description=Desktop notification for %i

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/notify-send --urgency=critical \"Service '%i' failed\" \"$(journalctl --user -n 6 -o cat -u %i)\""
