[Unit]
Description=Desktop notification for %i

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "notify-send -a %i -u critical \"Service '%i' failed\" \"$(journalctl --user -n 6 -o cat -u %i)\""
