[Unit]
Description=Offlineimap Service for account %i (oneshot)
Documentation=man:offlineimap(1)
OnFailure=notify-send@%N.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env offlineimap -o -a %i -u basic
# Give 120 seconds for offlineimap to gracefully stop before hard killing it.
TimeoutStopSec=120

[Install]
WantedBy=default.target
