[Unit]
Description=Update TeX Live
OnFailure=notify-send@%i.service

[Service]
Type=oneshot
ExecStart=/opt/texlive/2019/bin/x86_64-linux/tlmgr update --self --all --reinstall-forcibly-removed
