[submodule ".vim/plugins/Zenburn"]
	path = .vim/plugins/Zenburn
	url = git@github.com:jnurmine/Zenburn.git
[submodule ".vim/plugins/gruvbox"]
	path = .vim/plugins/gruvbox
	url = git@github.com:morhetz/gruvbox.git
