[submodule ".vim/bundle/Zenburn"]
	path = .vim/pack/bundle/start/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/bundle/start/vim-clang-format"]
	path = .vim/pack/bundle/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/pack/bundle/start/vim-transpose"]
	path = .vim/pack/bundle/start/vim-transpose
	url = https://github.com/salsifis/vim-transpose
[submodule ".vim/pack/bundle/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/bundle/start/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/bundle/start/unicode.vim"]
	path = .vim/pack/bundle/start/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule ".vim/pack/bundle/start/vimtex"]
	path = .vim/pack/bundle/start/vimtex
	url = https://github.com/lervag/vimtex
