! Xft settings
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

! Xterm settings
xterm*faceName: xft:mono:medium:size=10
xterm*termName: xterm-256color
xterm*utf8: 1
xterm*metaSendsEscape: true
xterm*printerCommand: xterm -T History -e sh -c 'less -r --mouse --wheel-lines=3 +G <&3' 3<&0
xterm*vt100.alternateScroll: true
xterm*vt100.jumpScroll: true
xterm*vt100.fastScroll: true
xterm*vt100.multiScroll: true
xterm*vt100.Translations: #override \
      Shift Ctrl<Key>V: insert-selection(CLIPBOARD) \n\
      Shift Ctrl<Key>V: insert-selection(PRIMARY) \n\
      Shift Ctrl<Key>C: copy-selection(CLIPBOARD) \n\
      Shift Ctrl<Key>F: print-everything() \n\
      Shift Ctrl<Key>N: exec-formatted("xterm", PRIMARY) \n\
      Ctrl <Key> minus: smaller-vt-font() \n\
      Ctrl <Key> equal: larger-vt-font() \n\
      Ctrl <Key> 0: set-vt-font(d) \n\
      <Key>F1: popup-menu(mainMenu) \n\
      <Key>F2: popup-menu(vtMenu) \n\
      <Key>F3: popup-menu(fontMenu) \n\
      <Key>F4: popup-menu(tekMenu)
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*SaveLines: 10000000
xterm*fullscreen: never
xterm*scrollTtyOutput: false
xterm*scrollKey: true
xterm*dynamicColors: true

! Urxvt settings
URxvt*font: xft:mono:medium:size=10
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt
URxvt.perl-ext-common: default,tabbed

! Emacs settings
Emacs*toolBar: off
Emacs*menuBar: off
Emacs*scrollBar: off
Emacs*verticalScrollBars: off

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
