! Xft settings
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

! Xcursor
Xcursor.theme: Adwaita

! Xterm settings
xterm*faceName: xft:mono:medium:size=10
xterm*termName: xterm-256color
xterm*boldColors: false
xterm*utf8: 1
xterm*metaSendsEscape: true
xterm*printerCommand: xterm -T History -e sh -c 'less -r --mouse --wheel-lines=3 +G <&3' 3<&0
xterm*vt100.alternateScroll: true
xterm*vt100.backarrowKey: false
xterm*vt100.jumpScroll: true
xterm*vt100.fastScroll: true
xterm*vt100.multiScroll: true
xterm*vt100.Translations: #override \
      Shift Ctrl<Key>V: insert-selection(CLIPBOARD) \n\
      Shift Ctrl<Key>V: insert-selection(PRIMARY) \n\
      Shift Ctrl<Key>C: copy-selection(CLIPBOARD) \n\
      Shift Ctrl<Key>F: print-everything() \n\
      Shift Ctrl<Key>N: exec-formatted("xterm", PRIMARY) \n\
      Ctrl <Key> minus: smaller-vt-font() \n\
      Ctrl <Key> equal: larger-vt-font() \n\
      Ctrl <Key> 0: set-vt-font(d)
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*SaveLines: 100000
xterm*fullscreen: never
xterm*scrollTtyOutput: false
xterm*scrollKey: true
xterm*dynamicColors: true
xterm*ttyModes: erase ^?

! Urxvt settings
URxvt*font: xft:mono:medium:size=10
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt
URxvt.perl-ext-common: default,tabbed

! Emacs settings
Emacs*toolBar: off
Emacs*menuBar: off
Emacs*scrollBar: off
Emacs*verticalScrollBars: off

! Theme inspired by Emacs Leuven

*background: #FFFFFF
*foreground: #333333
*cursorColor: #0FB300
! Black + DarkGrey
*color0: #333333
*color8: #777777
! DarkRed + Red
*color1:  #D0372D
*color9:  #FF0000
! DarkGreen + Green
*color2:  #008000
*color10: #00CC33
! DarkYellow + Yellow
*color3:  #FDBD33
*color11: #FFD700
! DarkBlue + Blue
*color4:  #335EA8
*color12: #006FE0
! DarkMagenta + Magenta
*color5:  #800080
*color13: #BA36A5
! DarkCyan + Cyan
*color6:  #99CCFF
*color14: #85CEEB
! LightGrey + White
*color7:  #D2D2D2
*color15: #FFFFFF
