layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane
            pane size="30%"
        }
        pane size="40%"
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
