[Desktop Entry]
Categories=Network;InstantMessaging;
Exec=Discord --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer --ozone-platform=wayland
GenericName=All-in-one cross-platform voice and text chat for gamers
Icon=discord
MimeType=x-scheme-handler/discord
Name=Discord (Wayland)
Terminal=false
Type=Application
