[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=A feature-rich client for Matrix.org
Exec=element-desktop --profile qryddemo --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer --ozone-platform=wayland --hidden %u
GenericName=Matrix Client
Icon=element
Name=Element (qryddemo)
Terminal=false
Type=Application
StartupWMClass=element
MimeType=x-scheme-handler/element;
